<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1><a href="/dau">Daily Active Users</a></h1>      
    <p>Daily active users over time as a plot</p>
  </div>
  <div class="jumbotron">
    <h1><a href="/wpu">Weekly Popular Users</a></h1>      
    <p>10 most viewed users for every week</p>
  </div>
  <div class="jumbotron">
    <h1>Average Session Length </h1>      
    <p>The average length of a user session (a session ends if there were no events received in a period of 15m) </p>
</p>
  </div>
</div>

</body>
</html>

